{% extends 'layout.html' %}
{% block content %}
    {% for post in posts.items %}
        <article class="media content-section">
			    <a href="{{ url_for('users.user_profile', user_id=post.author.id) }}"><img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}"></a>
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a><br>
                <small class="text-muted">created_date {{ post.date_posted.strftime('%Y-%m-%d') }}</small><br>
                <small class="text-muted">updated_date {{ post.updated_date }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content | truncate(300) }}</p>
            <div class="mt">
              <a class="btn btn-outline-info" href="{{ url_for('posts.post', post_id=post.id) }}">Read More</a>
            </div>
            <div class="d-flex flex-row fs-11 mt-2">
            {% if current_user.is_authenticated %}
            {% if current_user.has_liked_post(post) %}
              <button value={{post.id}} class="button btn btn-outline-danger" action="unlike" id="unlike_button"><i class="fa fa-heart"></i><span class="ml-1">Unlike</span></button>
            {% else %}
              <button value={{post.id}} class="button btn btn-outline-primary" action="like" id="like_button"><i class="fa fa-heart-o"></i><span class="ml-1">Like</span></button>
            {% endif %}
            {% endif %}
            <div class="like p-1 cursor mr-2">{{ post.likes.count() }} likes</div>
            <div class="like p-1 cursor mr-2">{{ post.comments.count() }} comments</div>
            </div>
        </article>
        {% else %}
        <article class="media content-section">No Results Founds!!</article>
    {% endfor %}
    <ul class="pagination" style="padding-left: 250px;">
      <li class="page-item {% if not posts.has_prev %} disabled {% endif %} ">
        <a class="page-link btn btn-primary mb-4" href="{{ url_for('posts.followed_posts', page=posts.prev_num) }}" tabindex="-1">Prev</a>
      </li>
      {% for post in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      <li class="page-item {% if post == posts.page %} active {% endif %}">
        <a class="page-link btn btn-outline-primary mb-4" href="{{ url_for('posts.followed_posts', page=post) }}">{{ post }}<span
            class="sr-only">(current)</span></a>
      </li>
      {% endfor %}
    
      <li class="page-item {% if not posts.has_next %} disabled {% endif %} ">
        <a class="page-link btn btn-primary mb-4" href="{{ url_for('posts.followed_posts', page=posts.next_num) }}">Next</a>
      </li>
    </ul>
{% endblock content %}
{% block js %}
  <script src="{{ url_for('static', filename='ajax_likes.js') }}"></script>
{% endblock %}
